{# block sidebar__account_user #}
{% block account_user %}
    <div class="account__user">
            <div class="user__picture img-profile flex"
                 style="background-image: url('https://www.crit-happens.eu/var/public/images/7c/c2/horde_0f1a1f_126_b1b7b0_03_999f95.png');">
            </div>
        <div class="user-info">
            {% if current_user.detail %}
                <h2 class="user-info__name">
                    {{ current_user.detail.nickName }}
                </h2>
            {% endif %}

            <h2 class="user-info__name">
                {{ current_user.detail.name }}</h2>
            <p class="user-info__email">{{ current_user.email }}</p>
        </div>
    </div>
{% endblock account_user %}
    
