{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}

    <div class="account content">
        {% block account %}
            <div class="panel panel--account flex">
                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    {% set raids = ["mc", "bwl"] %}
                    <div class="account__content">
                        <h2 class="account__title">Loot Table</h2>
                        {% for raid in raids %}
                            <h3 >{{ i18n(raid) }}</h3>
                                <div class="loot_table_container">
                                    <!-- weapons -->
                                    {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "weapon", raid: raid} %}
                                    <!-- cloth -->
                                    {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "cloth", raid: raid} %}
                                    <!-- leather -->
                                    {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "leather", raid: raid} %}
                                    <!-- mail -->
                                    {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "mail", raid: raid} %}
                                    <!-- plate -->
                                    {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "plate", raid: raid} %}
                                    <!-- other -->
                                    {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "other", raid: raid} %}
                                </div>
                        {% endfor %}
                    </div>

                {% endblock account__content %}
            </div>
        {% endblock account %}
    </div>
    <script>var whTooltips = {
            colorLinks: true,
            iconizeLinks: true,
            renameLinks: true,
            iconSize: 'medium',
            dropchance: true,
        };</script>
{% endblock content %}
