{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}

    <div class="account content">
        {% block account %}
            <div class="panel panel--account flex">
                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    <div class="account__content">
                        <h2 class="account__title">Loot Table</h2>
                        <div class="loot_table_container">
                            <!-- weapons -->
                            {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "weapon"} %}
                            <!-- cloth -->
                            {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "cloth"} %}
                            <!-- leather -->
                            {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "leather"} %}
                            <!-- mail -->
                            {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "mail"} %}
                            <!-- plate -->
                            {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "plate"} %}
                            <!-- other -->
                            {% include 'Plugins/LootTable/Components/LootTable.twig' with {type: "other"} %}
                        </div>
                    </div>

                {% endblock account__content %}
            </div>
        {% endblock account %}
    </div>
    <script>var whTooltips = {
            colorLinks: true,
            iconizeLinks: true,
            renameLinks: true,
            iconSize: 'medium',
            dropchance: true,
        };</script>
{% endblock content %}
