{% block account_content %}

    <div class="account__content mobile-padding flex flex--row flex--wrap">
        <div class="user__mail">
            <h2 class="user-mail">{{ current_user.email }}</h2>
        </div>
        {% include 'Plugins/FrontendUserManagement/Frontend/Components/Forms/ChangePasswordForm.twig' %}
    </div>
{% endblock account_content %}
