{% extends '@parent/Frontend/Layout.twig' %}
{% block content %}

    <div class="account content">
        {% block account %}
            <div class="panel panel--account flex">
                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    <div class="account__content">
                        <h2 class="account__title">Deine DKP: {{ current_user.dkp }}</h2>
                        <h2 class="account__title">Infos zum DKP-System</h2>
                        <p>Ab dem 14.11.2019 wird der Raid-Loot über ein internes DKP-System verteilt.</p>
                        <br>
                        <p>Dies sind die Regeln zum Start:</p>
                        <br>
                        <p>1) Für die 3 Raids am 13.11. / 14.11. / 17.11. wird es 10 DKP für alle
                            Teilnehmer geben.</p><br>
                        <p>2) Auf ein Item wird von allen Interessenten ein Gebot an den Lootmaster gewhispert. Das
                            Gebot muss mindestens 5 DKP betragen und darf den eigenen Punktestand nicht überschreiten. Das höchste Gebot
                            gewinnt das
                            Item zum Preis der gebotenen DKP. Bei gleichen Geboten wird um das Vorrecht gewürfelt.
                        </p><br>
                        <p>

                            3) Falls nur ein Spieler ein Gebot abgibt, wird das Item unabhängig vom eigentlichen Gebot für den Mindestsatz von 5 DKP vergeben.
                        </p>
                        <br>
                        <p>
                            4) Für Anregungen und konstruktive Kritik haben wir in unserem Gilden-Discord einen Channel eingerichtet.
                        </p>
			<br>
			<p>
			   4) Für Anregungen und konstruktive Kritik haben wir in unserem Gilden-Discord einen Channel eingerichtet. 
			</p>
                    </div>
                {% endblock account__content %}
            </div>
        {% endblock account %}
    </div>
{% endblock content %}

