{% extends '@parent/Frontend/Layout.twig' %}
{% block content %}

    <div class="account content">
        {% block account %}
            <div class="panel panel--account flex">
                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    <div class="account__content">
                        <h2 class="account__title">Deine DKP: {{ current_user.dkp }}</h2>
                        <h2 class="account__title">Infos zum DKP-System</h2>
                         <p>Für die Details zum DKP-System schaut einfach in unserem Gilden Discord unter #regelwerk vorbei.</p>
                    </div>
                {% endblock account__content %}
            </div>
        {% endblock account %}
    </div>
{% endblock content %}
